In [1]:

import pandas as pd

In [2]:
df = pd.read_csv('car data.csv')

In [3]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
df.shape

(301, 9)

In [5]:
df.drop('Car_Name',axis = 1,inplace = True)

In [6]:
df['current_year'] = 2021

In [7]:
df['used_year'] = df['current_year'] - df['Year']

In [8]:
df.drop(['Year'],axis=1,inplace = True)

In [9]:
df.drop(['current_year'],axis=1,inplace = True)

In [10]:
df = pd.get_dummies(df,drop_first=True)

In [11]:
x = df.drop('Selling_Price',axis=1)
y = df.Selling_Price

In [12]:
from sklearn.ensemble import ExtraTreesRegressor
model = ExtraTreesRegressor()
model.fit(x,y)

ExtraTreesRegressor()

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [14]:
from sklearn.ensemble import RandomForestRegressor
model_1 = RandomForestRegressor()

In [20]:
model_1.fit(x_train,y_train)

RandomForestRegressor()

In [16]:
prediction  = model_1.predict(x_test)

In [17]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,prediction)

0.45194262295082005

In [22]:
import pickle
pickle.dump(model_1,open('model.pkl','wb'))
model = pickle.load(open('model.pkl','rb'))
print(model.predict(x_test))

[ 4.875   2.9005  3.2104  2.8925  0.2608  5.2245  5.137   0.3965  6.241
  1.581   7.2895 17.7541  0.2192  7.6445  3.9535  1.5055  4.242   2.58
 16.5123  8.7167  9.4378  2.779   4.913   0.5486  0.6063  8.1263  4.509
  0.4218  0.5307  0.4523  4.581   5.6475  8.2225  7.311   5.2885  1.1145
  6.8055  3.1525  6.442   2.328   9.4076  0.3352  1.1555  0.6071  8.05
  0.449   3.2427 10.2733  4.7305  0.6668  0.5052  5.0565  8.4145  0.2241
  5.2575  0.7495  6.4165  1.2965  2.6145  4.745   0.6601]